wemall-business-impl/target/classes/META-INF/maven/com.wemall/wemall-business-impl/pom.properties
wemall-business-impl/target/classes/META-INF/maven/com.wemall/wemall-business-impl/pom.properties
wemall-business-impl/target/classes/META-INF/maven/com.wemall/wemall-business-impl/pom.properties